N8N_Project/blog_automation .json
{
  "name": "automation",
  "nodes": [
    {
      "parameters": {
        "content": "## Write SEO Optimized Blog Post\n\n\n",
        "height": 440,
        "width": 420,
        "color": 3
      },
      "id": "3c7d70fe-230f-4a9f-a15f-4c0d49793d60",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3392,
        3440
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "title": "={{ $('Combine Blog Details1').item.json.data[2].output.title }}",
        "additionalFields": {
          "authorId": 1,
          "content": "={{ $json.content }}",
          "slug": "={{ $('Combine Blog Details1').item.json.data[2].output.slug }}",
          "status": "publish",
          "commentStatus": "closed",
          "sticky": false,
          "postTemplate": {
            "values": {}
          }
        }
      },
      "id": "6cd46776-8eba-4713-8db8-599f107d092d",
      "name": "Wordpress1",
      "type": "n8n-nodes-base.wordpress",
      "position": [
        3824,
        4160
      ],
      "typeVersion": 1,
      "credentials": {
        "wordpressApi": {
          "id": "Ps3hFDPlVxsRonuS",
          "name": "Wordpress account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "## Post on Wordpress\n\n\n",
        "height": 280,
        "width": 300,
        "color": 4
      },
      "id": "ddf75a8a-7cb4-457d-a325-68f04a6ad2db",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3664,
        4048
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "69323cb3-a89a-4da7-b173-a50615919971",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        4000,
        3872
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "NmS4Z3ygaczWlBRY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"slug\": \"rpo-benefits-recruitment\",\n\"title\": \"7 Key Advantages of RPO for Modern Recruitment\",\n\"meta\": \"Explore how Recruitment Process Outsourcing (RPO) enhances hiring efficiency, reduces costs, and expands talent pools for businesses seeking top candidates.\"\n}"
      },
      "id": "ded349d7-2d99-4b81-bbbb-da27a8f1c898",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        4240,
        3872
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=**Create a slug, blog post title, and meta description for the following blog post:**\n\n{{ $json.output }}\n\n**Slug Guidelines:**\n- Keep it concise (4-5 words maximum).\n- Include the primary keyword related to recruitment or HR.\n- Use hyphens to separate words.\n- Avoid unnecessary words, articles, or prepositions.\n- Ensure it reflects the main topic of the blog post.\n- Make it readable and relevant for both users and search engines.\n\n**Title Guidelines:**\n- Avoid AI words like \"Transform\" or \"Revolutionize\" and similar overused terms.\n- Avoid using a colon (:) in the title.\n- Never structure it as a primary/secondary title separated by a colon.\n- Include the primary keyword related to recruitment or HR (e.g., 'AI in recruitment' or 'talent acquisition trends').\n- Clearly inform users what they can expect from reading the blog post.\n- Be concise and engaging, ideally 50-60 characters long.\n- Incorporate power words that appeal to HR professionals and recruiters.\n\n**Meta Description Guidelines:**\n- Avoid AI words like \"Transform\" or \"Revolutionize\" and similar overused terms.\n- Be concise: Limit to 150-160 characters to ensure full visibility in search results.\n- Include keywords: Naturally incorporate primary recruitment-related keywords to enhance relevance and visibility.\n- Provide value: Clearly convey the benefits or insights readers will gain from the article.\n- Be engaging: Use action-oriented language or a thought-provoking question to encourage clicks.\n- Align with content: Accurately reflect the blog post's content to meet user expectations and reduce bounce rates.\n- Highlight expertise: Subtly emphasize SocialFind's authority in the recruitment field.\n\nYour output must be a single valid JSON object with these 3 fields:\n-slug: The slug\n-title: The blog post title\n-meta: The meta description  \n\nEach should be presented without any additional text, explanation, quotation marks, or formatting.\n",
        "hasOutputParser": true,
        "options": {}
      },
      "id": "7a9c741e-c5fb-4aef-95ee-bf765cbe8205",
      "name": "Create Title, Slug, Meta1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        4048,
        3696
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Only output the HTML content without preamble or further explanation. Generate WordPress-compatible HTML for a blog post based on the provided content.\n\n### CONTENT PROCESSING:\n- Process all content from {{ $json.output }}\n- Preserve all original facts, information, and URLs\n- Format according to the specifications below\n\n### REQUIRED STRUCTURE (IN THIS ORDER):\n1. Title (H2)\n2. Estimated reading time\n3. Key takeaways (3-5 bullet points)\n4. Table of contents (linked to all headings)\n5. Main content (with proper heading hierarchy)\n6. FAQ section\n\n### STYLING REQUIREMENTS:\n- Style Override: Include a style section with !important declarations\n- Links: All hyperlinks, TOC items, and FAQ questions must be #00c2ff (blue)\n- Headings: All headings need a bottom border in #00c2ff with padding\n- Spacing: Add <br><br> between each major section\n\n### ENGAGEMENT FORMATTING:\n- Use bold, italics, bullet points, quotes, and highlighting for emphasis\n- Create proper paragraph structure with appropriate line breaks\n- NO emojis allowed\n- Use whitespace strategically for readability\n\n### HYPERLINK HANDLING (CRITICAL):\n- When URLs appear next to keyphrases (e.g., \"AI tools (https://example.com)\")\n- Convert to: <a href=\"https://example.com\" style=\"color: #00c2ff !important;\">AI tools</a>\n- The KEYPHRASE must be linked, never the URL itself\n\n### WORDPRESS COMPATIBILITY:\n- Use WordPress block classes (wp-block-heading, wp-block-paragraph, etc.)\n- Add heading IDs starting with \"h-\" for better TOC linking\n- Ensure all styles use !important to override theme styles\n\nDO NOT include any explanations, code tags, or comments. Output ONLY the raw HTML.\n"
            }
          ]
        },
        "options": {}
      },
      "id": "d932fc3b-57bc-4a53-848b-79d0be9c391e",
      "name": "Create HTML1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        4080,
        3280
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "NmS4Z3ygaczWlBRY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "eafa659d-45d4-4c7e-be52-209a7d9ffc10",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        4672,
        3568
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://southpost.free.nf//wp-json/wp/v2/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Disposition",
              "value": "=attachment; filename=\"cover-image-{{ $('Wordpress1').item.json.id }}.jpeg\""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "ea1bb719-0580-4628-9f00-d6b78e43afd2",
      "name": "Upload Image to Wordpress1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4832,
        4144
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "9VLH5bnP5HV4vYvy",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://southpost.free.nf//wp-json/wp/v2/posts/{{ $('Wordpress1').item.json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "wordpressApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "featured_media",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9927b6fd-9acb-4804-a257-d4db85ef3a9d",
      "name": "Set Image on Wordpress Post1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        5024,
        4144
      ],
      "typeVersion": 4.2,
      "credentials": {
        "wordpressApi": {
          "id": "9VLH5bnP5HV4vYvy",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert AI newsletter writer specializing in creating engaging, informative content about artificial intelligence trends, tools, and industry news. Your goal is to produce compelling newsletters that educate readers about the latest AI developments, practical applications, and emerging technologies while maintaining a professional yet accessible tone.\n\nYou publish newsletters covering the most significant AI developments, breakthrough technologies, tool releases, and industry insights. You are provided with curated articles from top tech publications.\n\n**Your Goal:** Produce engaging, well-researched newsletter content that educates readers about AI developments, showcases practical applications, and positions  as a trusted authority in AI automation and virtual assistant services.\n\nGiven the research findings **Research Article:**\n{{ $json.articlesList }}, write a comprehensive newsletter/blog post that:\n\n- Includes the focus keyword in the blog title, H2 header, and early in the introduction\n- Synthesizes insights from multiple articles into a cohesive narrative\n- Is detailed and informative, explaining AI concepts in accessible language\n- Uses an engaging, professional tone that makes technical content approachable\n- Flows naturally and logically with clear structure\n- Is between 1500 to 2000 words long\n- Is written for business professionals, entrepreneurs, and tech-forward leaders\n- Mentions the focus keyword naturally in the first paragraph\n\n**Additional requirements:**\n- Include practical takeaways that readers can apply to their businesses\n- Highlight how AI automation and consulting services (AI TechScope's specialty) relate to these trends\n- Connect AI developments to business efficiency, digital transformation, and workflow optimization\n- Showcase how AI TechScope's expertise in n8n automation, AI consulting, and website development can help businesses leverage these technologies\n- Include a call-to-action (CTA) encouraging readers to explore AI TechScope's AI automation and consulting services\n\nCreate the entire blog post draft in your first output. Don't stop or cut it short.\n\nYour output must be the blog post and nothing else.\n\n\n**Company Information:** {{ $json.Description }}\n\n**Research Article:**\n{{ $json.articlesList }}",
        "options": {}
      },
      "id": "88914122-71a2-44ff-9635-43a68bd713c1",
      "name": "Copywriter AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        3536,
        3568
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "content": "## Create Title, Slug & Meta\n\n\n",
        "height": 440,
        "width": 440,
        "color": 7
      },
      "id": "79bb0897-06ce-4c76-8311-d9194425496b",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3920,
        3536
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0afb2988-1481-4b04-b16d-fb33c50a16d0",
              "name": "content",
              "type": "string",
              "value": "={{ $json.data[0].message.content.replaceAll('```html', '').replaceAll('```','') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cacf70d6-759b-46df-b0f0-4718a099626f",
      "name": "Cleanup HTML 1",
      "type": "n8n-nodes-base.set",
      "position": [
        4880,
        3824
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Set Image for Wordpress Post",
        "height": 280,
        "width": 1220
      },
      "id": "d5b49970-5338-40d3-81ea-7aa728eeaff4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4000,
        4032
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "3dd5351d-d6e1-43ac-86b3-7890cd6985ae",
      "name": "gpt-4o-mini1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        3472,
        3776
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "NmS4Z3ygaczWlBRY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "4441063b-2c1b-4fd4-886d-97e345f2b7e8",
      "name": "Combine Blog Details1",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        4880,
        3568
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $('Search Pexels Image1').item.json.photos[0].src.large2x }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "64605af8-d1c2-4978-8663-1356053765c1",
      "name": "Download Pexels Image1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4640,
        4144
      ],
      "typeVersion": 4.2,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "=\n\n\"Generate 1-3 relevant search keywords for finding a professional stock photo related to: {{ $json.title.raw }}. Focus on tangible, visual concepts (e.g., 'technology workspace' instead of abstract terms). Return only the keywords, no explanation.\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        4048,
        4144
      ],
      "id": "cb7d358c-864f-47ed-b9e8-11ef09425652",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "NmS4Z3ygaczWlBRY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "pubDate",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "name": "Sort by Date (Newest First)",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        2848,
        3904
      ],
      "id": "4c102e65-a7d0-40b8-9336-4a4c080b64bf"
    },
    {
      "parameters": {
        "jsCode": "// Take only the first 10 items from the sorted array\nconst items = $input.all();\nconst top10 = items.slice(0, 10);\n\nreturn top10;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        3904
      ],
      "id": "2e83f8e0-e150-4c4e-a27b-2373d1c1965f",
      "name": "Limit to Top 10 Articles"
    },
    {
      "parameters": {
        "url": "https://techcrunch.com/tag/artificial-intelligence/feed/",
        "options": {}
      },
      "name": "TechCrunch AI1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        2416,
        3952
      ],
      "id": "86055b4b-a83e-452c-b985-c15230ec0621"
    },
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/ai-artificial-intelligence/index.xml",
        "options": {}
      },
      "name": "The Verge AI1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        2432,
        3488
      ],
      "id": "3bb8edab-4e5c-4fcd-a6c9-450874ae52ff"
    },
    {
      "parameters": {
        "url": "https://news.ycombinator.com/rss",
        "options": {}
      },
      "name": "Hacker News1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        2416,
        3648
      ],
      "id": "4ba03574-1e59-4d5d-b300-36917b239d23"
    },
    {
      "parameters": {
        "url": "https://www.reddit.com/r/artificial/.rss",
        "options": {
          "customFields": ""
        }
      },
      "name": "Reddit AI1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        2416,
        3808
      ],
      "id": "ecd5c39f-002f-4a9f-a3ce-1497e7d61b6a"
    },
    {
      "parameters": {
        "url": "https://news.google.com/rss/search?q=AI+tools+OR+ChatGPT+OR+automation+OR+%22HighLevel%22+OR+%22GoHighLevel%22+OR+%22AI+CRM%22&hl=en-US&gl=US&ceid=US:en",
        "options": {}
      },
      "name": "Google News AI Tools & CRMs1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        2400,
        4128
      ],
      "id": "80f63456-3729-4d5b-92ad-1475ff77bcf5"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2704,
        3856
      ],
      "id": "32b30042-db09-46d3-a3fd-9adbd4514846",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet articlesList = \"\";\n\nitems.forEach((item, index) => {\n  const title = item.json.title || 'No title';\n  const link = item.json.link || item.json.url || 'No link';\n  const pubDate = item.json.pubDate || item.json.isoDate || 'Unknown date';\n  const description = item.json.contentSnippet || item.json.description || 'No description';\n  const source = item.json.creator || item.json.author || 'Unknown source';\n  \n  articlesList += `${index + 1}. **${title}**\\n`;\n  articlesList += `   Source: ${source}\\n`;\n  articlesList += `   Published: ${pubDate}\\n`;\n  articlesList += `   Link: ${link}\\n`;\n  articlesList += `   Summary: ${description}\\n\\n`;\n});\n\nreturn [{\n  json: {\n    articlesList: articlesList,\n    Keyword: \"AI trends and tools\", // Default keyword - can be customized\n    Description: \"AITechScope is a leading provider of virtual assistant services, specializing in AI-powered automation, n8n workflow development, and business process optimization. We help businesses leverage cutting-edge AI tools and technologies to scale operations, reduce costs, and improve efficiency through intelligent delegation and automation solutions.\"\n  }\n}];\n"
      },
      "name": "Format Articles List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3376,
        3568
      ],
      "id": "109b69ff-0442-466f-935a-1f2e4b882100"
    },
    {
      "parameters": {
        "url": "=https://api.pexels.com/v1/search?query={{ $json.message.content }}&per_page=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "WzF3sDRopBR4XSuMn4gDqwdt1kEjkoKPQ35gmEVgqIEKjEAHHVzmoe5T"
            }
          ]
        },
        "options": {}
      },
      "id": "241964d5-6d75-4369-8262-cbe1a6880562",
      "name": "Search Pexels Image1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        4432,
        4144
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "## Create HTML\n",
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3952,
        3248
      ],
      "typeVersion": 1,
      "id": "d6aa41e8-47e1-4154-9b0c-58c76a3f6c7d",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Rss ",
        "height": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2352,
        3392
      ],
      "typeVersion": 1,
      "id": "5a64001b-7a97-46a3-b3a6-e64c2a279ed6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "name": "Schedule Trigger - Mon & Thu 9AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        2176,
        3808
      ],
      "id": "8e69a8b8-490a-49c6-ad8a-daac3763897d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3248,
        3904
      ],
      "id": "41ef0fac-fc7b-4fd7-9f38-072a2fe4754e",
      "name": "Loop Over Items"
    }
  ],
  "pinData": {},
  "connections": {
    "Wordpress1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Create Title, Slug, Meta1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Create Title, Slug, Meta1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create Title, Slug, Meta1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Create HTML1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Combine Blog Details1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image to Wordpress1": {
      "main": [
        [
          {
            "node": "Set Image on Wordpress Post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Copywriter AI Agent1": {
      "main": [
        [
          {
            "node": "Create Title, Slug, Meta1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Create HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup HTML 1": {
      "main": [
        [
          {
            "node": "Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4o-mini1": {
      "ai_languageModel": [
        [
          {
            "node": "Copywriter AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Combine Blog Details1": {
      "main": [
        [
          {
            "node": "Cleanup HTML 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Pexels Image1": {
      "main": [
        [
          {
            "node": "Upload Image to Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Search Pexels Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort by Date (Newest First)": {
      "main": [
        [
          {
            "node": "Limit to Top 10 Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit to Top 10 Articles": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Sort by Date (Newest First)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TechCrunch AI1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The Verge AI1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Hacker News1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Reddit AI1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Google News AI Tools & CRMs1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Format Articles List": {
      "main": [
        [
          {
            "node": "Copywriter AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Pexels Image1": {
      "main": [
        [
          {
            "node": "Download Pexels Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger - Mon & Thu 9AM": {
      "main": [
        [
          {
            "node": "TechCrunch AI1",
            "type": "main",
            "index": 0
          },
          {
            "node": "The Verge AI1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Hacker News1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit AI1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Google News AI Tools & CRMs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Image on Wordpress Post1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Format Articles List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b3863f90-13d3-4d13-b966-c06d0a015832",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2140182459be793024f9867493794760043bdca9c538a8457c215638983ad2cb"
  },
  "id": "eH669DuKZTzZc5kH",
  "tags": []
}