N8N_Project/Email Task Manager (1).json
{
  "name": "Email Task Manager",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        0
      ],
      "id": "1dd9625b-f48f-47ba-9c17-3008c6fc788b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Vb3SlTn9DHqMTcJR",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Subject : {{ $json.Subject }}",
        "categories": {
          "categories": [
            {
              "category": "Customer Support",
              "description": "Technical issues, product questions, or help requests from users."
            },
            {
              "category": "Finance/Biling",
              "description": "nvoices, payment confirmations, receipts, or any subscription-related inquiries."
            },
            {
              "category": "High Priority",
              "description": "rgent, time-sensitive matters, or critical alerts that require immediate attention"
            },
            {
              "category": "Promotion",
              "description": "Marketing newsletters, discounts, sales offers, and general advertisements."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        -96,
        -32
      ],
      "id": "3e36baf1-eca3-4a72-997e-ce7c42da6995",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        288
      ],
      "id": "8ecb2a1f-8e68-4b51-bea1-1a6c34ebebda",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "tzyGp6RbxNdZnYmP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_3870018439034498425"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        464,
        -432
      ],
      "id": "7e666142-2cd8-4def-8ae2-51c763239047",
      "name": "Customer Support",
      "webhookId": "e08b62bf-ed29-4ef8-ae7c-eb87b1e43594",
      "credentials": {
        "gmailOAuth2": {
          "id": "WmGvQJOZcQ3SeRgD",
          "name": "label_abc_gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_6286498226319452857"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        464,
        -48
      ],
      "id": "615ec499-26ed-4144-bfcf-0d5917471fc8",
      "name": "Finance/Biling",
      "webhookId": "e08b62bf-ed29-4ef8-ae7c-eb87b1e43594",
      "credentials": {
        "gmailOAuth2": {
          "id": "WmGvQJOZcQ3SeRgD",
          "name": "label_abc_gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_5477773780993760591"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        464,
        320
      ],
      "id": "d7d45296-29da-480a-ae9c-992eaf7ce85b",
      "name": "High Priority",
      "webhookId": "e08b62bf-ed29-4ef8-ae7c-eb87b1e43594",
      "credentials": {
        "gmailOAuth2": {
          "id": "WmGvQJOZcQ3SeRgD",
          "name": "label_abc_gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "labelIds": [
          "Label_5092369837670416633"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        512,
        688
      ],
      "id": "6d96da7e-c7bf-4091-9e2a-6c89d6592064",
      "name": "Promotion",
      "webhookId": "e08b62bf-ed29-4ef8-ae7c-eb87b1e43594",
      "credentials": {
        "gmailOAuth2": {
          "id": "WmGvQJOZcQ3SeRgD",
          "name": "label_abc_gmail"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        688,
        -240
      ],
      "id": "0a41a836-47e3-4c3a-8b63-53ca4577025a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "tzyGp6RbxNdZnYmP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": " Gmail Triggered (Every Minute)",
        "height": 80,
        "width": 150,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        -112
      ],
      "typeVersion": 1,
      "id": "91175910-a14c-41b8-9bd8-6f591b264df5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Classification Email Through Subject",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -160
      ],
      "typeVersion": 1,
      "id": "a35644d3-2321-45ff-bdce-cd91ba3df307",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Model Access to get a label according to our need, customer support, finance/biling eyc.",
        "height": 96,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        448
      ],
      "typeVersion": 1,
      "id": "ec74f7e1-35ac-415d-99ed-5d69374ac65f",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Add into a label of Customer Support , and farward it to Agent to generate a answer for customer email",
        "height": 96,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        368,
        -560
      ],
      "typeVersion": 1,
      "id": "6c6e38d2-1c68-4fac-87bb-e0af1936c367",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Identified is it email causal or related to our customer",
        "height": 80,
        "width": 176,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        48,
        -160
      ],
      "typeVersion": 1,
      "id": "7c34b8b2-339b-4aa2-8257-d9425af8179e",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Agent generate a answer for Customer",
        "height": 112,
        "width": 150,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -592
      ],
      "typeVersion": 1,
      "id": "cb86d72f-1a1f-4d7b-bae9-61c4538c26b0",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Now send back the response to Customer",
        "height": 80,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        -592
      ],
      "typeVersion": 1,
      "id": "d14ab1d5-6e9d-481e-a5c9-6c24dc8a770f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1072,
        -432
      ],
      "id": "b37325d8-acea-4e6f-a3f3-04827f1dfcf8",
      "name": "Reply to a message",
      "webhookId": "a4f8d5e3-54b2-4fe9-ab77-6b49610cea6c",
      "credentials": {
        "gmailOAuth2": {
          "id": "WmGvQJOZcQ3SeRgD",
          "name": "label_abc_gmail"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        512
      ],
      "id": "99723396-8888-4433-b693-8de043281e7e",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "tzyGp6RbxNdZnYmP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        704,
        880
      ],
      "id": "2829a990-49d9-4a31-9fdb-a19d007f53dd",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "tzyGp6RbxNdZnYmP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        672,
        144
      ],
      "id": "9a1f3bd8-0747-496e-a5ca-4dd4b1659f92",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "tzyGp6RbxNdZnYmP",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject :{{ $('Gmail Trigger').item.json.Subject }}\nBody:{{ $('Gmail Trigger').item.json.snippet }}\n\n\n",
        "options": {
          "systemMessage": "=You are Nate's AI Assistant — an expert, friendly, and professional customer support representative for AI Automation Society.\n\nYour Role:\n\nRespond clearly, concisely, and helpfully to member questions.\n\nAlways maintain a warm and approachable tone that reflects Nate Herk's brand and community values.\n\nProvide accurate information about AI Automation Society, its programs, challenges, and community rules.\n\nResponse Protocol:\n\nIf you do NOT know the answer or the query requires Nate’s direct input, politely tell the user to reach out to nateherk88@gmail.com.\n\nAddress the user by their name seen in there is avaible {{ $('Gmail Trigger').item.json.From }}if available from the Gmail data.\n\nMandatory Sign-off:\n\nAlways sign off every message with:\n— Nate's AI Assistant "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        688,
        -432
      ],
      "id": "18993d6b-1e65-46ef-8e10-058827519038",
      "name": "Customer Support AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject :{{ $('Gmail Trigger').item.json.Subject }}\nBody:{{ $('Gmail Trigger').item.json.snippet }}\n\n\n",
        "options": {
          "systemMessage": "=You are Nate's Financial Operations Assistant — a precise, secure, and professional representative for AI Automation Society.\n\nYour Role:\n\nHandle all inquiries regarding invoices, payments, refunds, and billing discrepancies.\n\nMaintain a formal, trustworthy, yet helpful tone.\n\nStandard Procedure: If a user claims they were overcharged, acknowledge the concern and state that a manual audit will be performed.\n\nEscalation: For any refund requests over $100 or complex tax questions, direct the user to nateherk88@gmail.com.\n\nAddress the user by their name seen in there is avaible {{ $('Gmail Trigger').item.json.From }}if available from the Gmail data.\n\nMandatory Sign-off:\n— Nate's AI Finance Desk "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        672,
        -48
      ],
      "id": "3ba971c8-3b55-4ebc-810e-868d60fb9a91",
      "name": "Finance/Biling -AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject :{{ $('Gmail Trigger').item.json.Subject }}\nBody:{{ $('Gmail Trigger').item.json.snippet }}\n\n\n",
        "options": {
          "systemMessage": "=You are Nate's Executive Concierge — a swift, proactive, and highly attentive assistant for AI Automation Society.\n\nYour Role:\n\nRespond to high-stakes inquiries, partnership proposals, or urgent technical issues.\n\nYour tone should be \"Urgent and Professional.\" Acknowledge that their message has been flagged for immediate attention.\n\nGoal: Reassure the sender that Nate is being notified personally.\n\nContact: If they need an answer within 2 hours, ask them to ensure they have sent their specific phone number to nateherk88@gmail.com.\n\nAddress the user by their name seen in there is avaible {{ $('Gmail Trigger').item.json.From }}if available from the Gmail data.\n\nMandatory Sign-off:\n— Nate's AI Priority Support"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        320
      ],
      "id": "125d6501-39a3-43a2-963e-ca8f9659d195",
      "name": "High Priority --AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject :{{ $('Gmail Trigger').item.json.Subject }}\nBody:{{ $('Gmail Trigger').item.json.snippet }}\n\n\n",
        "options": {
          "systemMessage": "=You are Nate's Growth & Community Brand Ambassador — an enthusiastic, persuasive, and warm representative for AI Automation Society.\n\nYour Role:\n\nRespond to inquiries about new programs, discounts, or community events.\n\nYour tone should be energetic and community-focused.\n\nAction: Highlight the value of the AI Automation Society programs and encourage them to join the next community call.\n\nLogic: If they are asking for a collaboration or to promote their own product, politely direct them to the formal application at nateherk88@gmail.com.\n\n\nAddress the user by their name seen in there is avaible {{ $('Gmail Trigger').item.json.From }}if available from the Gmail data.\n\n\nMandatory Sign-off:\n— Nate's Community Team\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        704,
        688
      ],
      "id": "658aa7e9-3efe-48bd-8099-c723fc0f635a",
      "name": "Promotion -AI Agent"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1088,
        -48
      ],
      "id": "e169adf8-076e-434c-8e29-633b8c835e28",
      "name": "Reply to a message1",
      "webhookId": "a4f8d5e3-54b2-4fe9-ab77-6b49610cea6c",
      "credentials": {
        "gmailOAuth2": {
          "id": "WmGvQJOZcQ3SeRgD",
          "name": "label_abc_gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        320
      ],
      "id": "83aa1c3f-5a78-42dc-9afd-e7d4f0bb816b",
      "name": "Reply to a message2",
      "webhookId": "a4f8d5e3-54b2-4fe9-ab77-6b49610cea6c",
      "credentials": {
        "gmailOAuth2": {
          "id": "WmGvQJOZcQ3SeRgD",
          "name": "label_abc_gmail"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1120,
        688
      ],
      "id": "35630232-ef13-41e6-aba7-afe470554072",
      "name": "Reply to a message3",
      "webhookId": "a4f8d5e3-54b2-4fe9-ab77-6b49610cea6c",
      "credentials": {
        "gmailOAuth2": {
          "id": "WmGvQJOZcQ3SeRgD",
          "name": "label_abc_gmail"
        }
      }
    },
    {
      "parameters": {
        "content": "## Smart Email Task Manager ",
        "height": 80,
        "width": 352,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        544,
        -992
      ],
      "typeVersion": 1,
      "id": "51ebb9af-0707-478a-bf7c-c8bcdca58005",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Customer Support",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finance/Biling",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "High Priority",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Promotion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support": {
      "main": [
        [
          {
            "node": "Customer Support AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Customer Support AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Finance/Biling": {
      "main": [
        [
          {
            "node": "Finance/Biling -AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Priority": {
      "main": [
        [
          {
            "node": "High Priority --AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promotion": {
      "main": [
        [
          {
            "node": "Promotion -AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "High Priority --AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Promotion -AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Finance/Biling -AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finance/Biling -AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Priority --AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Promotion -AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cd995601-ec18-447d-a610-c7e9cfa229e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "518fc42eb9f4042ec5bb1343b736a383808ff94da3085830d96818c74878a9e1"
  },
  "id": "ZqjC3zqBFDIGp2Rt",
  "tags": []
}